#mainboard {
  margin-left: 50px;
}

.square {
  display: flex;
  width: 80px;
  height: 80px;
  border: 1px solid #d5d5d5;
  align-items: center;
  justify-content: center;
}

.row{
  display: flex;
  flex-direction: row;
}

#input_box {
  margin-top: 30px;
}

.textbox {
  margin-left: 10px;
  margin-right: 50px;
}
#wordList{
  border: 1px solid gray;
  min-width: 320px;
  margin-top: 30px;

}

.boards{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.wordListTitle {
  margin-left: 20px;
}
